.slider {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider_text {
  margin-top: 63px;
  width: 700px;
  font-weight: 400;
  font-size: 24px;
  line-height: calc(40 / 24);
  text-align: center;
  color: #6b6b6b;
}

.slider_captain {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  color: #6b6b6b;
}

.slider_list {
  margin-top: 17px;
  display: flex;
}

.slider_item {
  & + & {
    margin-left: 70px;
  }
}
.point_list {
  margin-top: 88px;
  display: flex;
}
.point_item {
  & + & {
    margin-left: 17px;
  }
}
.point_icon-on {
  width: 7px;
  height: 7px;
  background: #222222;
}
.point_icon-off {
  width: 7px;
  height: 7px;
  background: rgba(34, 34, 34, 0.4);
}
